
<div>

<div *ngIf="dataSaisie && dataSaisie">
  <div *ngFor="let ds of dataSaisie">
    <p>
     {{ds.message}}
    </p>


  </div>
 <!--<button (click)="onCharger()" type="submit">charger l'historique</button>-->
</div>
</div>
<script>
  import {SocketServiceService} from "../services/socket-service.service";
  import {ZonePrincipaleComponent} from "./zone-principale.component";
var charger = new ZonePrincipaleComponent;
  var socket = new SocketServiceService;
  socket.socketInstance().on('message',()=>{
    console.log("log de getMessage Js");
    charger.onCharger();
  });


</script>

