<div id="auto-layout">
  <div><h1>Welcome to Litee Chat</h1>
    <p>Litee Chat is a powerful, smart and intuitive chat application. You can send text messages, images, emojis, stickers, and much more. Even do videocalls!
      Also, you can chat with people who uses other platforms instead of this one, like Whatsapp, Facebook Messenger, MeeTime and HiChat.
      Let’s set up Litee Chat!</p>
  </div>
  <div>
    <button id="btn1">Set up Litee Chat</button> <button id="btn2" (click)="onClickAccueil()">Continue with default</button>
  </div>
</div>
